@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  zoom: 1.2;
}

* {
  font-family: "consolas", "Poppins", -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen, Ubuntu, sans-serif;
    margin: 1rem;
}

body {
  box-sizing: border-box;
}

.title {
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1.2rem;
}

.div-line {
  border-top: 2px solid #ccc;
}

.assembly-add-item {
  margin-left: 10px;
}

.assembly-add-item:focus {
  border: 1px solid blue;
}

.stage-container {
  display: flex;
  width: 90vw;
  text-transform: capitalize;
  width: min-content;
  word-wrap: normal;
}

.assembly-item-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.assembly-stage {
  padding: 15px;
  font-weight: 600;
  font-size: 1.2em;
}

.assembly-item {
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  box-shadow: 1.5px 1.5px 1px #333;
  margin-top: 5px;
  max-width: fit-content;
  text-transform: none;
  font-family: inherit;
  font-size: 1rem;
}

.assembly-item:hover {
  background-color: rgb(221, 221, 66);
}
